<h1>New movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with(url: movies_path) do %>
  <div>
    <%= label_tag :title %>

    <%= text_field_tag "movie[title]", @movie.title %>
  </div>

  <div>
    <%= label_tag :description %>

    <%= text_area_tag "movie[description]", @movie.description, { rows: 3 } %>
  </div>

  <%= button_tag "Create Movie" %>
<% end %>
